* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap;
}

ul {
    margin: 0;
}

.form_deep_tree {
    margin: 25px;
}

.leftChild, .left_child, .left_list {
    display: inline-block;
}

.rightChild, .right_child, .right_list {
    display: inline-block;
}

ul li {
    list-style: none;
}

.root {
    display: inline-block;
}

.node__root {
    display: inline;
    position: relative;
}

.node {
    display: inline-block;
    position: relative;
    width: 120px;
}

.node-parent {
    display: block;
    width: 47px;
    height: 20px;
    border: 1px solid;
}

.arrow-left {
    position: absolute;
    top: -5px;
    left: 0;
    width: 50px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
}

.node-block {
    margin-left: 36px;
    height: 50px;
}

.arrow-right {
    position: absolute;
    top: -7px;
    right: 0;
    width: 45px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
}

.arrow-right:before {
    content: '\2911';
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 40px;
    transform: rotate(40deg);
}

.arrow-left:before {
    content: '\2911';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 40px;
    transform: rotate(140deg);
}

